<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <!-- JCaptcha configuracion -->
    <bean id="miCaptchaService" class="com.octo.captcha.service.multitype.GenericManageableCaptchaService">
        <constructor-arg index="0" ref="imageEngine"/>
        <constructor-arg type="int" index="1" value="180"/>
        <constructor-arg type="int" index="2" value="180000"/>
<!--        <constructor-arg type="int" index="3" value="75000"/>-->
    </bean>

    <bean id="imageEngine" class="com.octo.captcha.engine.GenericCaptchaEngine">
        <constructor-arg index="0" ref="CaptchaFactory"/>
    </bean>

    <bean id="CaptchaFactory" class="com.octo.captcha.image.gimpy.GimpyFactory" >
        <constructor-arg ref="wordgen"/>
        <constructor-arg ref="wordtoimage"/>
    </bean>

    <bean id="wordgen" class= "com.octo.captcha.component.word.wordgenerator.RandomWordGenerator" >
        <constructor-arg><value>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ</value></constructor-arg><!--ref="filedict"/-->
    </bean>

    <!--bean id="filedict" class="com.octo.captcha.component.word.FileDictionary" >
        <constructor-arg index="0" value="toddlist"/>
    </bean-->

    <bean id="wordtoimage" class="com.octo.captcha.component.image.wordtoimage.DeformedComposedWordToImage">
        <constructor-arg index="0" ref="fontGenRandom"/>
        <constructor-arg index="1" ref="backGenFunky"/>
        <constructor-arg index="2" ref="simpleWhitePaster"/>
        <constructor-arg index="3" ref="none"/>
        <constructor-arg index="4" ref="rippleDef"/>
        <constructor-arg index="5" ref="none"/>
    </bean>

    <bean id="ripple" class="com.jhlabs.image.RippleFilter"
          p:waveType="5"
          p:XAmplitude="5"
          p:YAmplitude="5"
          p:XWavelength="10"
          p:YWavelength="10"
          p:edgeAction="1"/>

    <bean id="rippleDef" class="com.octo.captcha.component.image.deformation.ImageDeformationByFilters" >
        <constructor-arg index="0" ref="ripple"/>
    </bean>

    <bean id="none" class="com.octo.captcha.component.image.deformation.ImageDeformationByFilters" >
        <constructor-arg index="0"><null/></constructor-arg>
    </bean>

    <bean id="fontGenRandom" class="com.octo.captcha.component.image.fontgenerator.RandomFontGenerator" >
        <constructor-arg index="0" value="60"/>
        <constructor-arg index="1" value="60"/>
        <constructor-arg index="2">
            <list>
                <ref bean="fontArial"/>
                <ref bean="fontVerdana"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="fontArial" class="java.awt.Font" >
        <constructor-arg index="0" value="Arial"/>
        <constructor-arg index="1" value="0"/>
        <constructor-arg index="2" value="10"/>
    </bean>

    <bean id="fontVerdana" class="java.awt.Font" >
        <constructor-arg index="0" value="Verdana"/>
        <constructor-arg index="1" value="0"/>
        <constructor-arg index="2" value="10"/>
    </bean>

    <bean id="backGenFunky" class="com.octo.captcha.component.image.backgroundgenerator.FunkyBackgroundGenerator" >
        <constructor-arg index="0"><value>300</value></constructor-arg>
        <constructor-arg index="1"><value>100</value></constructor-arg>
        <constructor-arg type="com.octo.captcha.component.image.color.ColorGenerator" index="2"><ref bean="colorGenRandomList"/></constructor-arg>
        <constructor-arg type="com.octo.captcha.component.image.color.ColorGenerator" index="3"><ref bean="colorGenRandomList"/></constructor-arg>
        <constructor-arg type="com.octo.captcha.component.image.color.ColorGenerator" index="4"><ref bean="colorGenRandomList"/></constructor-arg>
        <constructor-arg type="com.octo.captcha.component.image.color.ColorGenerator" index="5"><ref bean="colorGenRandomList"/></constructor-arg>
        <constructor-arg index="6"><value>0.2f</value></constructor-arg>
    </bean>

    <bean id="colorGenRandomList" class="com.octo.captcha.component.image.color.RandomListColorGenerator" >
        <constructor-arg index="0">
            <list>
                <ref bean="white"/>
                <ref bean="gris"/>
                <ref bean="lightBlue"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="gris" class="java.awt.Color" >
        <constructor-arg type="int" index="0"><value>153</value></constructor-arg>
        <constructor-arg type="int" index="1"><value>153</value></constructor-arg>
        <constructor-arg type="int" index="2"><value>153</value></constructor-arg>
    </bean>

    <bean id="blue" class="java.awt.Color" >
        <constructor-arg type="int" index="0"><value>0</value></constructor-arg>
        <constructor-arg type="int" index="1"><value>0</value></constructor-arg>
        <constructor-arg type="int" index="2"><value>245</value></constructor-arg>
    </bean>

    <bean id="lightBlue" class="java.awt.Color" >
        <constructor-arg type="int" index="0"><value>200</value></constructor-arg>
        <constructor-arg type="int" index="1"><value>200</value></constructor-arg>
        <constructor-arg type="int" index="2"><value>255</value></constructor-arg>
    </bean>

    <bean id="white" class="java.awt.Color" >
        <constructor-arg type="int" index="0"><value>255</value></constructor-arg>
        <constructor-arg type="int" index="1"><value>255</value></constructor-arg>
        <constructor-arg type="int" index="2"><value>255</value></constructor-arg>
    </bean>

    <bean id="simpleWhitePaster" class="com.octo.captcha.component.image.textpaster.SimpleTextPaster" >
        <constructor-arg type="java.lang.Integer" index="0" value="5"/>
        <constructor-arg type="java.lang.Integer" index="1" value="6"/>
        <constructor-arg type="java.awt.Color" index="2" ref="colorGreen"/>
    </bean>

    <bean id="colorGreen" class="java.awt.Color" >
        <constructor-arg index="0" type="int" value="0"/>
        <constructor-arg index="1" type="int" value="0"/>
        <constructor-arg index="2" type="int" value="153"/>
    </bean>

    <!-- Fin JCaptcha configuracion -->
</beans>
